<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ template "title" . }}</title>
        <meta name="description" content="{{ template "description" }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="static/favicon.ico" />

        <link rel='stylesheet' href='vfs/dist/3rdparty.css'>
        <link rel='stylesheet' href='vfs/dist/main.css'>
        <script src="vfs/dist/3rdparty.js" type="text/javascript" defer></script>
        <!-- <script src="static/main.js" type="text/javascript" defer></script> -->
        <script src="vfs/dist/main.js" type="text/javascript" defer></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">
            You are using an <strong>outdated</strong> browser.
            Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
            </p>
        <![endif]-->
        <script>
         var wrapLinesInitial = {{.WrapLinesInitial}};
         var tailLinesInitial = {{.TailLinesInitial}};
         var relativeRoot = {{.RelativeRoot}};
        </script>

        {{ template "body" . }}
    </body>
</html>
