<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<title>{{ template "title" . }}</title>
		<meta name="description" content="{{ template "description" }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="{{.RelativeRoot}}static/favicon.ico" />
		<link rel='stylesheet' href='{{.RelativeRoot}}vfs/dist/3rdparty.css'>
		<link rel='stylesheet' href='{{.RelativeRoot}}vfs/dist/main.css'>
		<script src="{{.RelativeRoot}}vfs/dist/3rdparty.js" type="text/javascript" defer></script>
		<script src="{{.RelativeRoot}}vfs/dist/main.js" type="text/javascript" defer></script>
	</head>
	<body>
		<script>
			var wrapLinesInitial = {{.WrapLinesInitial}};
			var tailLinesInitial = {{.TailLinesInitial}};
			var relativeRoot = {{.RelativeRoot}}
		</script>
		{{ template "body" . }}
	</body>
</html>
